/* Errors/Message */
#jgMessage {
    border: #ff0000;
    background:#FFCC00;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #a2a2a2;
}
.errors, .error_list, .spanError{
    color: #ff0000;
}

/* basic forms: */
form.joshua19media select.month{
	width: 120px;
}
form.joshua19media input.day,
form.joshua19media li input.day{
	width: 20px;
	float:none;
	text-align:right;
}
form.joshua19media select.hour, 
form.joshua19media select.minute{
	width:43px;
}
form.joshua19media input.year,
form.joshua19media ul li input.year{
	width:40px;
	float:none;
	text-align:right;
}
form.joshua19media input.am, 
form.joshua19media input.pm,
form.joshua19media ul li input.am,
form.joshua19media ul li input.pm{
	width:auto;
	float:none;
}
form.joshua19media input.date,
form.joshua19media ul li input.date{
	width: 80px;
	float:none;
	text-align:right;
}
form.joshua19media fieldset{
	border:#a2a2a2 solid 1px;
	padding:15px 20px 5px 20px;
	margin-bottom: 15px;
	width:auto;
}
form.joshua19media fieldset fieldset{
	margin:5px;
	width:auto;
}
form.joshua19media legend{
	color:#003366;
	font-weight:bold;
	font-size: .8em;
	padding: 2px;
}
form.joshua19media optgroup{
	color: #0000ff;
}
form.joshua19media optgroup option{
	margin-left: 20px;
}
form.joshua19media option{
	color: #000;
	padding: 1px;
	border-bottom: 1px dashed #d4d4d4;
	width:auto;
}
form.joshua19media option:hover{
	border-bottom: 1px solid #ff0000;
}
form.standard{
	font-size:.9em;
}
body form.stardard ul{
	padding:0;
	margin: 5px 0;
}
form.joshua19media ul.narrowList {
	width: 245px;
}
form.joshua19media .textCenter{
	text-align:center;
}
body form.stardard li p{
	padding:2px 0;
}
form.joshua19media input,
form.joshua19media select{
	width: 233px; 
	background:#F7F6F6;
	border: 1px solid #e4e4e4;
	border-bottom:1px solid #a2a2a2;
	color:#555;
	padding:1px;
}
form.joshua19media textarea{
	width: 99%;
	height: 60px;
	background:#F7F6F6;
	border: 1px solid #e4e4e4;
	border-bottom:1px solid #a2a2a2;
	color:#555;
	padding:2px 5px;
	margin: 0 auto;
}
form.joshua19media input:focus, 
form.joshua19media select:focus, 
form.joshua19media textarea:focus {
	background: #ffffcc;
}
form.joshua19media input:hover, 
form.joshua19media input:focus,
form.joshua19media textarea:hover, 
form.joshua19media textarea:focus{
	border:1px solid #D0DDFE;
	background:#ffe;
	color:#000;
}
form.joshua19media input.radio, 
div form.joshua19media ul li input.radio,
form.joshua19media ul li ul li input.radio,
form.joshua19media ul li.full input.radio,
form.joshua19media li tr td input.radio{
	width:auto;
	display:inline;
	border:none;
	background:none;
}
form.joshua19media input.date, 
div form.joshua19media ul li input.date{
	width:100px;
}
form.joshua19media ul, 
form.joshua19media li{
	margin:0;
	padding:0;
	list-style:none;
}
form.joshua19media li{
	margin:6px 0 5px 0;
}
form.joshua19media li,
form.joshua19media li ul li{
	width: 237px;
/*	height: 60px;*/
	float:left;
	padding:0;
}
form.joshua19media li.full{
	width: 735px;
}
form.joshua19media li.full input{
	width: 730px;
}
form.joshua19media li.half{
    width: 362.5px;
}
form.joshua19media li.half input{
    width: 357.5px;
}
form.joshua19media li.medium{
	width: 487px;
}
form.joshua19media li.medium input{
	width: 483px;
}
form.joshua19media li.small{
	width: 115px;
}
form.joshua19media li.small input{
	width: 111px;
}
form.joshua19media li.autoWidth {
	width:auto;
}
form.joshua19media li img#daysOfMonthPos,
form.joshua19media li img.calendar_image{
	float:right;
	margin-left:10px;
}
form.joshua19media li.spaceRight{
	margin-right: 10px;
}
form.joshua19media li.spaceLeft{
	margin-left: 10px;
}
form.joshua19media ul.nested_radio li{
	width: auto;
	margin-left: 25px;
}
/* Buttons */
/* BUTTONS from: http://particletree.com/features/rediscovering-the-button-element/ */
.jgbuttons a, .jgbuttons button{
    display:block;
    float:left;
    margin:0 7px 0 0;
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;
    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:100%;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:5px 10px 6px 7px; /* Links */
}
.jgbuttons button{
    width:auto;
    overflow:visible;
    padding:4px 10px 3px 7px; /* IE6 */
}
.jgbuttons button[type]{
    padding:5px 10px 5px 7px; /* Firefox */
    line-height:17px; /* Safari */
}
*:first-child+html button[type]{
    padding:4px 10px 3px 7px; /* IE7 */
}
.jgbuttons button img, .jgbuttons a img{
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}
/* STANDARD */
.jgbuttons button:hover, .jgbuttons a:hover{
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}
.jgbuttons a:active{
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}
/* POSITIVE */
.jgbuttons button.positive, .jgbuttons a.positive{
    color:#529214;
}
.jgbuttons a.positive:hover, .jgbuttons button.positive:hover{
    background-color:#E6EFC2;
    border:1px solid #C6D880;
    color:#529214;
}
.jgbuttons a.positive:active{
    background-color:#529214;
    border:1px solid #529214;
    color:#fff;
}
/* NEGATIVE */
.jgbuttons a.negative, .jgbuttons button.negative{
    color:#d12f19;
}
.jgbuttons a.negative:hover, .jgbuttons button.negative:hover{
    background:#fbe3e4;
    border:1px solid #fbc2c4;
    color:#d12f19;
}
.jgbuttons a.negative:active{
    background-color:#d12f19;
    border:1px solid #d12f19;
    color:#fff;
}